<div class="row featurette">   
    <div class="col-md-9 p-4 d-flex flex-column position-static">
        <h2 class="featurette-heading">Learn the ways of Python!</h2>
        <p class="lead">This is where your assignment is going to be when ever the Instructor decides to give you an assignment!</p>

        <hr class="featurette-divider">

        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Group Name">
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary">Save</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary">Submit Assignment</button>
            </div> 
        </div>
    </div>
    <div class="col-md-3 p-4 d-flex flex-column position-static">
        <h2 class="featurette-heading">Group 1</h2>
        <ul class="list-group">
            <li class="list-group-item">Paul</li>
            <li class="list-group-item">Stacy</li>
            <li class="list-group-item">Jack</li>
            <li class="list-group-item">Felix</li>
            <li class="list-group-item">Susan</li>
        </ul>
    </div>
</div>