<div class="row featurette">
    <div class="col-md-9 p-4 d-flex flex-column position-static">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        </div>
        <hr class="featurette-divider">

        <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
        </div>
        <hr class="featurette-divider">

    </div>
    
    <div class="col-md-3 p-4 d-flex flex-column position-static">
        <h4 class="featurette-heading">List of Unassigned Students</h2>
        <ul class="list-group">
            <li class="list-group-item">Paul</li>
            <li class="list-group-item">Stacy</li>
            <li class="list-group-item">Jack</li>
            <li class="list-group-item">Felix</li>
            <li class="list-group-item">Susan</li>
        </ul>
    </div>
</div>