<hr class="featurette-divider">
<%= link_to "Create Group", spawn_group_path(@course), { :class => 'btn btn-primary' } %>
<hr class="featurette-divider">
<% @course.groups.each do |group| %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= group.groupname %></h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-9">
        <button type="button" class="btn btn-secondary">No Submission</button>
        <button type="button" class="btn btn-info">Give Project</button>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Score / 100">
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div><!-- End of row -->
      </div>
    </div><!-- End of row -->
  </div>
</div>

<hr class="featurette-divider">
<% end %>

<h5>List of all students in groups</h5>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>Group Name</th>
            <th>Number of Students</th>
        </tr>
        </thead>
        <tbody>
<% @course.groups.each do |group| %>
        <tr>
          <td><%= group.groupname %></td>
          <td><%= @groupcount %></td>
        </tr>
<% end %>
        </tbody>
    </table>
</div>