<h5>Give Grade</h5>
<%= form_for :group, url: group_path(@group), method: :patch do |f| %>
<div class="row">
    <div class="col-md-3">
        <%= f.text_field(:grade, {:class => 'form-control'}) %>
    </div>
    <div class="col-md-3">
        <%= f.submit({:class => 'btn btn-primary', :value => 'Save Grade'}) %>
    </div>
</div>
<% end %>