<h5>Submission</h5>
<%= form_for :group, url: submission_path(@group), method: :patch do |f| %>
    <div class="col-md-6">
        <%= f.text_area(:submission, {:class => 'form-control'}) %>
    </div>
    <hr class="featurette-divider">
    <div class="col-md-3">
        <%= f.submit({:class => 'btn btn-primary', :value => 'Submit Assignment'}) %>
    </div>
<% end %>