<div class="row">  
    <div class="col-md-9 p-4 d-flex flex-column position-static">
        <h2 class="featurette-heading"><%= @group.groupname %> submission</h2>
        <p class="lead"><%= @group.submission %></p>
    </div>
</div>