<div class="row featurette">
    <div class="col p-4 d-flex flex-column position-static">
        <h2 class="featurette-heading">Learn the ways of Python!</h2>
        <p class="lead">Study from the best with this extremely versitile programming language! Program complex algorithms 
        and advanced web applications using this simple language! Using this high-level programming language, you'll be able to reach the top!</p>
    <hr class="featurette-divider">
    <button class="btn btn-info" type="submit">Follow</button>
    </div>
    <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="300" xmlns="http://www.w3.org/2000/svg" 
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image" style="float:right">
            <title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>
            <text x="50%" y="50%" fill="#aaa" dy=".3em">Python</text></svg>
    </div>
    
</div>
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col p-4 d-flex flex-column position-static">
        <h2 class="featurette-heading">Become a gem-cutter with Ruby!</h2>
        <p class="lead">Grab this dynamic programming language like its a diamond in the rough! Meet simplicity and elegance coupled with ounces of productivty!
        With its easy to read language, you can create complex systems within a snap using Rails! Find out more now!</p>
    <hr class="featurette-divider">
    <button class="btn btn-info" type="submit">Follow</button>
    </div>
    <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="300" xmlns="http://www.w3.org/2000/svg" 
        preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image" style="float:right">
            <title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/>
            <text x="50%" y="50%" fill="#aaa" dy=".3em">Ruby</text></svg>
    </div>
</div>
<hr class="featurette-divider">
